@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?6ql51k");
  src: url("../fonts/icomoon.eot?6ql51k#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?6ql51k") format("truetype"),
    url("../fonts/icomoon.woff?6ql51k") format("woff"),
    url("../fonts/icomoon.svg?6ql51k#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-video-camera:before {
  content: "\e914";
}
.icon-pacman:before {
  content: "\e916";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
