/* @import url("./reset.css"); */
@import url("./icons.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
:root {
  /* font-size: 62.5%; */
  --soft-orange: hsl(35, 77%, 62%);
}
* {
  box-sizing: border-box;
}
body {
  /* background-color: red; */
}
body * {
  line-height: calc(2px + 2ex + 2px);
  /* font-size: 5rem; */
}
